---
import Layout from "../../layouts/Layout.astro";
import ProductDetail from "../../components/ProductDetail";
import { getProductFromDatabase } from "../../lib/products";
import DbMetadata from "../../components/DbMetadata.astro";

const { id } = Astro.params;
if (!id) {
  return Astro.redirect("/404");
}

const bookmark = Astro.cookies.get("product_bookmark")?.value;

const db = Astro.locals.runtime.env.DB;
const session = db.withSession(bookmark);

const { results, newBookmark, meta, d1Duration } = await getProductFromDatabase(
  session,
  id
);

Astro.cookies.set("product_bookmark", newBookmark);
---

<Layout title={results[0].name}>
  <div class="mb-4">
    <DbMetadata
      region={meta.served_by_region}
      queryDuration={meta.duration}
      isPrimary={meta.served_by_primary}
      d1Duration={d1Duration}
    />
  </div>
  <ProductDetail client:load product={results[0]} />
</Layout>
